mkdocs==1.2.3
mkdocs-build-plantuml-plugin==1.7.1
mkdocs-exclude==1.0.2
mkdocs-git-revision-date-localized-plugin==0.4.3
mkdocs-material==4.6.0
mkdocs-minify-plugin==0.2.1
mkdocs-pdf-export-plugin==0.5.5
mkdocs-versioning==0.1.0
pygments>=2.7.4
pymdown-extensions==6.2
markdown==3.1.*
